/* @theme: admin.oro; */

.calendar-connections {
    margin-top: 0;

    .context-menu-button {
        visibility: visible;
    }
}

.calendar-connections-header {
    padding-bottom: 10px;
    margin-bottom: 16px;

    text-align: center;

    border-bottom: 1px solid $primary-860;

    .dropdown-menu {
        padding: 12px;
    }
}
