/* @theme: admin.oro; */

.recurrence {
    &-subview-control {
        &__number {
            max-width: 48px;
            margin-right: 6px;
        }

        &__item {
            .fields-row {
                .hasDatepicker {
                    width: 112px;
                }

                .timepicker-input {
                    width: 90px;
                }
            }
        }
    }

    &-summary {
        padding: 4px 8px 8px;

        .controls {
            display: inline-block;
        }

        .control-label {
            display: inline-block;
        }
    }

    &-repeats {
        &__select {
            min-width: 285px;
        }
    }
}
