/* @theme: admin.oro; */

.recurrence {
    &-subview-control {
        &__number {
            max-width: 48px;
            margin-right: 6px;
        }

        &__item {
            label {
                height: auto;
                line-height: normal;
            }

            &-datetime {
                label {
                    margin-top: 9px;
                }

                &-wrapper {
                    max-width: 231px;
                }
            }

            .fields-row {
                .hasDatepicker {
                    width: 133px;
                }

                .timepicker-input {
                    width: 90px;
                }
            }
        }

        .selector.fixedWidth {
            width: 100%;
        }
    }

    &-summary {
        padding: 4px 8px 8px;

        .controls {
            display: inline-block;
        }

        .control-label {
            display: inline-block;
        }
    }

    &-repeats {
        &__select {
            min-width: 285px;
        }
    }
}

.repeat-day-visible {
    .recurrence-subview-control__number {
        margin-right: 0;
    }

    .recurrence-subview-control {
        .selector select {
            width: auto;
        }

        .selector.fixedWidth {
            width: calc(100% - 52px);
            min-width: calc(100% - 52px);
        }
    }
}

.repeat-instance-visible {
    .repeat-on-instance {
        display: block;
        margin-top: $content-padding-small;
    }
}
