<div class="recurrence-subview-control">
    <div class="control-group">
        <div class="control-label wrap">
            <label><%- _.__('oro.calendar.event.recurrence.control-label.repeat-every') %></label>
        </div>
        <div class="controls">
            <label class="fields-row">
                <input class="recurrence-subview-control__number"
                       type="text"
                       data-related-field="interval"
                       data-validation="<%-JSON.stringify({NotBlank: {}, Number: {min: 1, max: 999}, Type: {type: 'integer'}}) %>"
                       value="<%- interval %>">
                <span class="recurrence-subview-control__text"><%- _.__('oro.calendar.event.recurrence.controls.months') %></span>
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label wrap">
            <label><%- _.__('oro.calendar.event.recurrence.control-label.repeat-on') %></label>
        </div>
        <div class="controls">
            <select data-related-field="instance">
                <option value=""><%- _.__('oro.calendar.event.recurrence.controls.monthly-repeat-on.day') %></option>
                <option disabled>&#9473;&#9473;&#9473;&#9473;&#9473;&#9473;&#9473;&#9473;&#9473;</option>
                <% _.each(repeatOnOptions, function (option) { %>
                <option value="<%- option.value %>"
                <% if (option.selected) { %> selected="selected"<% } %>>
                <%- _.__('oro.calendar.event.recurrence.controls.monthly-repeat-on.' + option.text) %>
                </option>
                <% }); %>
            </select>
            <span class="repeat-on-day" data-name="repeat-on-day">
                <span class="fields-row">
                    <input class="recurrence-subview-control__number"
                           type="text"
                           data-related-field="dayOfMonth"
                           data-validation="<%-JSON.stringify({NotBlank: {}, Number: {min: 1, max: 31}, Type: {type: 'integer'}}) %>"
                           value="<%- dayOfMonth %>">
                    <input type="hidden"
                           data-related-field="recurrenceType"
                           value="monthly">
                </span>
            </span>
            <span class="repeat-on-instance" data-name="repeat-on-instance">
                <select data-related-field="dayOfWeek">
                    <% _.each(groupWeekDayOptions, function (option) { %>
                    <option value="<%- option.value %>"
                    <% if (option.selected) { %> selected="selected"<% } %>>
                    <%- _.__('oro.calendar.event.recurrence.controls.' + option.text) %>
                    </option>
                    <% }); %>
                    <option disabled></option>
                    <% _.each(dayOfWeekOptions, function (option) { %>
                    <option value="<%- option.value %>"
                    <% if (_.isEqual(dayOfWeek, [option.value])) { %> selected="selected"<% } %>>
                    <%- option.text %>
                    </option>
                    <% }); %>
                </select>
                <input type="hidden"
                       data-related-field="recurrenceType"
                       value="monthnth">
            </span>
        </div>
    </div>
    <div class="alert alert-warning" role="alert" data-name="recurrence-fewer-days-warning" style="display: none"></div>
</div>
