<div>
    <div class="control-group">
        <div class="control-label wrap">
            <label><%- _.__('oro.calendar.event.recurrence.control-label.repeat-every') %></label>
        </div>
        <div class="controls recurrence-subview-control">
            <input class="recurrence-subview-control__number"
                   type="text"
                   data-related-field="interval"
                   data-validation="<%-JSON.stringify({Number: {}}) %>"
                   value="<%=interval %>">
            <%- _.__('oro.calendar.event.recurrence.controls.weeks') %>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label wrap">
            <label><%- _.__('oro.calendar.event.recurrence.control-label.repeat-on') %></label>
        </div>
        <div class="controls recurrence-subview-control" data-name="recurrence-week-day-picker"></div>
    </div>
</div>
