<div class="control-group">
    <div class="control-label wrap">
        <label><%- _.__('oro.calendar.event.recurrence.control-label.repeat-every') %></label>
    </div>
    <div class="controls recurrence-subview-control" data-name="control-sections">
        <div class="recurrence-subview-control__item">
            <label>
                <input type="radio" data-role="control-section-switcher" checked="checked">
                <input class="recurrence-subview-control__number"
                       type="text"
                       data-related-field="interval"
                       data-validation="<%-JSON.stringify({Number: {}}) %>"
                       value="<%=interval %>">
                <%- _.__('oro.calendar.event.recurrence.controls.days') %>
            </label>
        </div>
        <div class="recurrence-subview-control__item">
            <label>
                <input type="radio" data-role="control-section-switcher">
                <%- _.__('oro.calendar.event.recurrence.control-modes.weekday') %>
            </label>
            <input type="hidden"
                   data-related-field="recurrenceType"
                   value="weekly">
            <select style="display: none" data-related-field="dayOfWeek" multiple>
                <% _.each(weekDays, function(day) { %><option value="<%= day %>" selected="selected"></option><% }) %>
            </select>
        </div>
    </div>
</div>
