<div class="control-group control-group-checkbox">
    <div class="control-label wrap">
        <label for="recurrence-repeat-<%- cid %>">
            <%- _.__('oro.calendar.event.recurrence.control-label.repeat') %>
        </label>
    </div>
    <div class="controls">
        <input type="checkbox"
               id="recurrence-repeat-<%- cid %>"
               data-name="recurrence-repeat"
               <% if (recurrenceType) { %> checked<% } %>>
    </div>
</div>
<div data-name="recurrence-settings"<% if (!recurrenceType) { %> style="display: none"<% } %>>
    <% if (!_.isEmpty(errors)) { %>
    <div class="control-group alert alert-error" role="alert">
        <ul class="controls">
        <% _.each(errors, function(item) {
            _.each(item.messages, function(message) { %>
                <li><%- item.label %>:&nbsp;<%- message %></li>
            <% })
        }) %>
        </ul>
    </div>
    <% } %>
    <div class="control-group control-group-choice">
        <div class="control-label wrap">
            <label for="recurrence-repeats-<%- cid %>">
            <%- _.__('oro.calendar.event.recurrence.control-label.repeats') %>
            </label>
        </div>
        <div class="controls">
            <select id="recurrence-repeats-<%- cid %>"
                    data-name="recurrence-repeats"
                    class="recurrence-repeats__select">
            <% _.each(repeatsOptions, function(option) { %>
            <option value="<%- option.value %>"<% if (option.selected) { %> selected<% } %>><%- option.label %></option>
            <% }) %>
        </select></div>
    </div>
    <div class="control-group-container" data-name="recurrence-daily"></div>
    <div class="control-group-container" data-name="recurrence-weekly"></div>
    <div class="control-group-container" data-name="recurrence-monthly"></div>
    <div class="control-group-container" data-name="recurrence-yearly"></div>
    <div class="control-group-container" data-name="recurrence-ends"></div>
    <div class="control-group recurrence-summary alert-info">
        <div class="control-label wrap">
            <label><%- _.__('oro.calendar.event.recurrence.control-label.summary') %>:</label>
        </div>
        <div class="controls" data-name="recurrence-summary"></div>
    </div>
    <div data-name="recurrence-origin-values" class="hide"></div>
</div>
<div class="alert alert-warning" role="alert" data-name="recurrence-warning" style="display: none"></div>
