<div class="control-group">
    <div class="control-label wrap">
        <label><%- _.__('oro.calendar.event.recurrence.control-label.ends') %></label>
    </div>
    <div class="controls recurrence-subview-control recurrence-subview-control__items" data-name="control-sections">
        <div class="control-group-subline recurrence-subview-control__item">
            <label data-role="control-section-switcher">
                <input type="radio"<% if (!occurrences && !endTime) {%> checked<% } %>>
                <span class="recurrence-subview-control__text"><%- _.__('oro.calendar.event.recurrence.control-modes.never') %></span>
            </label>
        </div>
        <div class="control-group-subline recurrence-subview-control__item">
            <label data-role="control-section-switcher" class="fields-row">
                <input type="radio"<% if (occurrences) {%> checked<% } %>>
                <span class="recurrence-subview-control__text"><%- _.__('oro.calendar.event.recurrence.control-modes.after') %></span>
                <input class="recurrence-subview-control__number"
                       type="text"
                       data-related-field="occurrences"
                       data-validation="<%-JSON.stringify({NotBlank: {}, Number: {min: 1, max: 999}, Type: {type: 'integer'}}) %>"
                       value="<%- occurrences %>">
                <span class="recurrence-subview-control__text"><%- _.__('oro.calendar.event.recurrence.controls.occurrences') %></span>
            </label>
        </div>
        <div class="control-group-subline recurrence-subview-control__item recurrence-subview-control__item-datetime">
            <label data-role="control-section-switcher">
                <input type="radio"<% if (endTime) {%> checked<% } %>>
                <span class="recurrence-subview-control__text"><%- _.__('oro.calendar.event.recurrence.control-modes.by') %></span>
            </label>
            <span class="recurrence-subview-control__datetime-wrapper">
                <input class="recurrence-subview-control__datetime"
                       type="hidden"
                       name="recurrence-endTime-backend-field"
                       data-related-field="endTime"
                       data-type="datetime"
                       value="<%- endTime %>">
            </span>
        </div>
    </div>
</div>
