<select name="<%- inputNamePrefixes %>[recurrenceType]" class="no-uniform">
    <% _.each(recurrenceTypeOptions, function(option) { %>
    <option value="<%- option.value %>"<% if (option.selected) { %> selected<% } %>><%- option.label %></option>
    <% }) %>
</select>
<input name="<%- inputNamePrefixes %>[interval]" value="<%- interval %>"/>
<select name="<%- inputNamePrefixes %>[instance]" class="no-uniform">
    <option></option>
    <% _.each(instanceOptions, function(option) { %>
    <option value="<%- option.value %>"<% if (option.selected) { %> selected<% } %>><%- option.label %></option>
    <% }) %>
</select>
<select name="<%- inputNamePrefixes %>[dayOfWeek][]" class="no-uniform" multiple>
    <% _.each(dayOfWeekOptions, function(option) { %>
    <option value="<%- option.value %>"<% if (option.selected) { %> selected<% } %>><%- option.label %></option>
    <% }) %>
</select>
<input name="<%- inputNamePrefixes %>[dayOfMonth]" value="<%- dayOfMonth %>" />
<input name="<%- inputNamePrefixes %>[monthOfYear]" value="<%- monthOfYear %>" />
<input name="<%- inputNamePrefixes %>[startTime]" value="<%- startTime %>" />
<input name="<%- inputNamePrefixes %>[endTime]" value="<%- endTime %>" />
<input name="<%- inputNamePrefixes %>[occurrences]" value="<%- occurrences %>" />
<input name="<%- inputNamePrefixes %>[timeZone]" value="<%- timeZone %>" />
