# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\CalendarBundle\Provider\CalendarPropertyProvider:
            getItems:
                selectItems: true
        Oro\Bundle\CalendarBundle\Ownership\CalendarOwnerAssignmentChecker:
            getHasAssignmentsQueryBuilder:
                qbParam: true
    safe_methods:
        Oro\Bundle\CalendarBundle\Entity\Repository\CalendarEventRepository:
            getBaseFields: true
