.recurrence-subview-control {
  margin-top: 6px;
  &__item {
    min-height: 26px;
    input[type=radio] {
      margin: -2px 8px 0 0 ;
    }
    .fields-row {
      display: inline-block;
    }
    .hasDatepicker {
      width: 95px;
      margin: 0 6px 0 18px;
    }
  }
  &__number {
    width: 36px;
    margin: 0 6px;
  }
}
