.recurrence-subview-control {
  &__items {
    margin-top: 1px;
  }
  &__item {
    label {
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      display: inline-block;
    }
    input[type=radio] {
      margin: -2px 8px 0 0 ;
    }
    .fields-row {
      display: inline-block;
    }
    .hasDatepicker {
      width: 95px;
      margin: 0 6px 0 18px;
    }
  }
  &__number {
    width: 36px;
    margin-right: 6px;
  }
  label &__number {
    margin-left: 6px;
  }
  &__row {
    margin-bottom: 10px;
  }
  .controls select {
    width: auto;
  }
}
