/* @theme: admin.oro; */

.calendar-container {
    position: relative;
}

.calendar-sidebar {
    padding: $content-padding;
}

.calendar-container .timeline-marker {
    position: absolute;
    #{$start}: 74px;
    z-index: 500;

    height: 2px;
    width: 100%;
    margin: 0;
    padding: 0;

    border: none;
    background-color: $danger-darken;

    pointer-events: none;
}

.calendars .control-label {
    display: none;
}

.calendar-dashboard-widget {
    margin-top: 10px;
    position: relative;
    z-index: 0;

    .fc-toolbar {
        display: none;
    }

    td.fc-today {
        background: transparent;
    }
}

.form-horizontal .control-group .controls .recurrent-event-notifier {
    padding-top: 14px;
}

.calendar-event-attendees-widget {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 4px;
    padding-left: 5px;
}

.calendar-event-attendees-widget:hover {
    width: auto;
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
}

.event-action-target-select-form {
    padding: 10px 16px;

    &__item {
        margin-bottom: 10px;

        [type="radio"] {
            float: left;
        }
    }

    &__item-title {
        color: $body-color;
        font-weight: bold;
        font-size: 14px;
        margin-left: 20px;
    }

    &__item-desc {
        color: lighten($body-color, 25%);
        font-size: 12px;
        margin-left: 20px;
    }
}

.reminder-status {
    float: #{$end};
    margin-top: 1px;
}

.invitation-response .control-group {
    border-top: 1px solid $primary-860;
}

.calendar-event-organizer {
    display: flex;
    align-items: center;

    img {
        margin-right: 5px;
    }
}

.invitation-status {
    display: inline-block;

    font-size: $base-font-size--s;
    margin-#{$end}: 3px;
}

.invitation-status-declined {
    text-decoration: line-through;
}
