/* @theme: admin.oro; */

.calendar-connections {
    margin-top: 10px;
}

.connection-item {
    display: flex;

    justify-content: space-between;

    padding: 4px 0 4px 8px;

    box-shadow: 0 1px 0 0 $primary-800;

    &:last-child {
        box-shadow: none;
    }
}

.connection-container {
    margin-bottom: 0;
}

.context-menu {
    @include list-unstyled();
}

.context-menu-divider {
    margin: 6px 0;
}

.connection-menu-container {
    display: flex;
    align-items: center;

    visibility: hidden;

    .connection-item:hover & {
        visibility: visible;
    }

    .dropdown-menu {
        max-width: 168px;
        min-width: 168px;

        visibility: visible;
    }
}

.context-menu-button {
    width: auto;

    padding: 0 8px;
    line-height: 16px;

    [class*='fa-'] {
        line-height: inherit;
    }
}

.connection-item-label {
    flex-grow: 1;
    padding: 6px 0;

    line-height: 1;

    cursor: default;
}

.user-calendar {
    align-self: center;
}
