/* @theme: admin.oro; */

.calendar-dashboard-widget {
    position: relative;
    z-index: 0;

    .fc-toolbar,
    .fc-head-container {
        display: none;
    }

    td.fc-today {
        background: transparent;
    }

    .fc-bg {
        .fc-axis {
            padding-top: 4px;

            width: 54px;
            height: 54px;

            vertical-align: top;
        }
    }

    .fc-content-skeleton {
        min-height: 56px;
    }

    .fc-body > tr > td {
        border-left: 0 none;
        border-top: 0 none;
        border-right: 0 none;
    }

    .fc-day-grid .fc-row {
        border-color: transparent;
    }

    .fc-time-grid .fc-slats td {
        vertical-align: middle;
    }
}
