/* @theme: admin.oro; */

.recurrence {
    &-subview-control {
        &__items {
            margin-top: 0;
        }

        &__item {
            label {
                vertical-align: middle;
                display: inline-block;
            }

            input[type='radio'] {
                margin: 0 $content-padding-small 0 0;
            }

            .fields-row {
                display: inline-block;
            }

            .hasDatepicker {
                width: 95px;
                margin: 0 $content-padding-small 0 0;
            }

            .ui-datepicker-dialog-is-below,
            .timepicker-dialog-is-below {
                + span.validation-failed {
                    &::after {
                        margin-top: -38px;
                    }

                    > span {
                        margin-top: -35px;
                    }
                }
            }
        }

        &__item-datetime {
            label {
                vertical-align: top;
                margin-top: 6px;
            }
        }

        &__item:last-child label {
            margin-bottom: 0;
        }

        &__datetime-wrapper {
            position: relative;
            display: inline-block;
            max-width: 238px;
            margin-left: $content-padding-small;

            input[type='text'] {
                &.datepicker-input {
                    width: 150px;
                }

                &.timepicker-input {
                    width: 80px;
                }
            }
        }

        &__number {
            &:not(textarea) {
                vertical-align: middle;
                width: 36px;
                margin-right: $content-padding-small;
            }
        }

        &__text {
            vertical-align: middle;
            text-transform: none;

            + input {
                margin-left: $content-padding-small;
            }
        }

        input[type='radio'] + &__text {
            display: inline-block;
            min-width: 36px;
        }

        &__row {
            margin-bottom: $content-padding-small;
        }

        .controls select {
            width: auto;
        }

        .selector.fixedWidth {
            width: 130px;
        }
    }

    &-summary {
        margin-top: $content-padding-medium;
        padding: 4px 10px 9px 0;
        border-radius: $input-border-radius;

        &.control-group .control-label.wrap {
            color: $info-ultra-dark;
        }

        .controls {
            padding-top: 6px;
        }
    }
}
