{% import '@OroNavigation/Menu/menu.html.twig' as oro_menu %}

{% apply spaceless %}
<li {{ oro_menu.attributes(itemAttributes) }}>
    <div class="color-picker"></div>
    <div class="dropdown-divider context-menu-divider"></div>
        {%- set linkAttributes = item.linkAttributes %}
        <a href="#" role="button" {{ oro_menu.attributes(linkAttributes) }}>
            <span class="custom-color-wrapper">
                <span class="custom-color"></span>
            </span>
            <span class="custom-color-name">{{ 'oro.calendar.context.edit_color'|trans }}</span>
        </a>
</li>
{% endapply %}
