{% extends '@OroNavigation/Menu/menu.html.twig' %}

{% block item %}
    {% if item.extras.module is defined %}
        {% set itemAttributes = itemAttributes|merge({'data-module': item.extras.module })%}
    {% endif %}
    {% if item.extras.template is defined %}
        {{ include(item.extras.template, ignore_missing = true) }}
    {% else %}
        {{ block('item_renderer') }}
    {% endif %}
{% endblock %}

{% block linkElement %}
    {% import '@OroNavigation/Menu/menu.html.twig' as oro_menu %}
    <a href="#" role="button" {{ oro_menu.attributes(linkAttributes) }}>{{ block('label') }}</a>
{% endblock %}
